<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TradingCompanyEntities" connectionString="metadata=res://*/TradingCompanyModel.csdl|res://*/TradingCompanyModel.ssdl|res://*/TradingCompanyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-J223KLG;initial catalog=TC1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>